@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Montserrat&family=Open+Sans:wght@300&family=Raleway:wght@300&display=swap');
*{
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 15px;
    color: #0f1213;
    text-decoration: none;
}

h1{
    color: #332b2b;
    font-weight: bold;
}