@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Montserrat&family=Open+Sans:wght@300&family=Raleway:wght@300&display=swap');
*{
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 15px;
    color: #0f1213;
    text-decoration: none;
}

.card {
    height: 90vh;
    width: 100%;
    box-shadow: 1px 2px; 
    margin: 10px 0;
}

.profile-image{
    border-radius: 50%;
}

.text{
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
}

button{
    margin-top: 5px;
    border: none;
    text-align: justify;
    letter-spacing: 1px;
}

button:hover{
    background-color: rgb(234, 242, 249) ;
}

.icon{
    text-align: justify;
}